{% extends 'base.html' %}
{% block metadescription %}about page{% endblock metadescription %}
{% block title %}About{% endblock title %}
{% block content %}
<div class="text-center m-5 p-5">
<h1><u>About me</u></h1>
<p>
    After school I studied Science in University (Biochemistry), with initial intentions of entering forensics.<br>
    Lost motivation to pursue the career and wondered the job market before settling into the supply chain industry for a few years.<br>
    The desire to shift out happened and of course during COVID19 lockdown periods<br> and during the time the Government also started funding for various industries, Tech included.<br>
    Decided to take a leap of faith and still going.<br><br>
    In my spare time you can find me messing with my PC (hopefully not destroying it),<br>reading fantasy novels, playing video games, watching movies/tv shows (animated ones included)<br>and playing the Final Fantasy Trading Card Game (FFTCG).<br><br>
    Speaking of FFTCG, it is this hobby and a previous project, that is the reason this project has been kicked off.<br>There is another card game that I have heard complaints about the website's layout and I thought to myself, why not give it a crack and here we are.<br>
    Whether the project is finished remains to be seen.<br>It could be part of the sea of unfinished stuff or it will be a site that makes me millions (I'm joking in case the sarcasm is lost on anyone),<br>but regardless the website will be here <a href="#">Link to Github repo<a/>
</p>
</div>
{% endblock content %}