body {
    font-family: Arial, sans-serif;
}

.navbar-brand img {
    max-height: 50px;
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-nav .btn-outline-light {
    border-color: white;
    color: white;
}

.navbar-nav .fa-lock {
    font-size: 24px;
}